# Exclude the following files or folders from language statistics
asp-mvc-web-api-vscode-angular-8-crud-2/WebAPI/WebAPI/Content/* linguist-vendored
asp-mvc-web-api-vscode-angular-8-crud-2/WebAPI/WebAPI/Scripts/* linguist-vendored

# Include the following files or folders for language renaming
asp-mvc-web-api-vscode-angular-8-crud-2/WebAPI/WebAPI/Models/* linguist-language=CSHARP
asp-mvc-web-api-vscode-angular-8-crud-2/WebAPI/WebAPI/Views/* linguist-language=ASP
asp-mvc-web-api-vscode-angular-8-crud-2/WebAPI/WebAPI/Controllers/* linguist-language=CSHARP

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Image files are treated as binary by default
*.jpg   binary
*.png   binary
*.gif   binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
